.card-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-evenly;
}

.client_card {
    background-color: rgb(255, 255, 255);
    color: #000;
    text-align: center;
    padding: 5rem;
    padding-bottom: 44px;
    margin-top: 4%;
    border-radius: 8px;
    box-shadow: 10px 10px 32px #dedede;
}

.client_card:hover {
    cursor: pointer;
    transform: translateY(-20px);
    transition: var(--transition);
    border-radius: 8px;
}

.client {
    text-align: center;
    margin: 0px;
    margin-top: 5em;
    margin-bottom: 5%;
    background-color: #fffdf9;
}

.client h1 {
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 1%;
}

.para_gap1 {
    margin-top: 40px;
}

.para_gap2 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.para_gap3 {
    margin-top: 40px;
    margin-bottom: 22px;
}

.bar {
    border-bottom: 1.5px solid #49a078;
    width: 15%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10%;
    display: block;
}

.bar_cc {
    border-bottom: 1px solid #03630e;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: 40%;
    display: block;
}

.client_img {
    width: 40%;
    border-style: solid;
    border-color: #03630e;
    border-radius: 160px;
}

.client_img1 {
    width: 34%;
}

.client_img2 {
    width: 31%;
}

.client_img3 {
    width: 35%;
}

@media screen and (max-width:930px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}