@media screen and (max-width: 750px) {
  .table-responsive {
    display: none;
  }

  .res_img {
    width: 80% !important;
    margin: 1% 10% 1% 10%;
  }
}

@media screen and (min-width: 750px) {
  .table-responsive2 {
    display: none;
  }
}
