.profile {
  height: 39em;
  width: 100%;
  background-color: #f4f8fd;
  display: flex;
  flex-direction: row-reverse;
}

.content {
  position: relative;
  text-align: center;
  margin-top: 150px;
  margin-left: 175px;
}

.content p {
  text-align: start;
}

.content h1 {
  font-size: 3rem;
  padding: 0.6rem 0 1.5rem;
  position: relative;
  top: -11px;
  text-align: start;
}

.content1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
  display: flex;
  margin-top: 50px;
}

.new_img {
  display: inline-block;
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 25px;
  width: 280%;
  height: 555px;
}

.main_img {
  height: 100%;
  width: 100%;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes slide_left {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes slide_right {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  .content1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 950px) {
  .profile {
    display: initial;
    flex-direction: column;
  }

  .new_img {
    display: flex;
    margin-left: 10%;
    width: 75%;
    height: 85%;
    margin-top: 20px;
  }

  .content {
    display: block;
    margin-top: 100px;
    padding-right: 10%;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    margin-right: 0px;
    padding-right: 0%;
  }

  .content {
    margin-left: 40px;
  }
}
