.head_port {
    display: inline-block;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 19em;
}

.bar_user {
    border-bottom: 1px solid #49a078;
    width: 5%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.data_port {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 20em;
}

.main_table {
    margin: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.table_row td {
    padding: 10px;
}

.table_img {
    width: 100%;
    border-radius: 20px;
}

.table_row td:hover {
    cursor: pointer;
}

@media screen and (max-width:1450px) {
    .head_port {
        margin: 0px;
    }

    .data_port {
        margin-left: 0px;
    }

    .bar_user {
        margin-left: 60px;
    }
}

@media screen and (min-width:1550px) {
    .head_port {
        margin: 0px;
    }

    .data_port {
        margin-left: 0px;
    }

    .bar_user {
        margin-left: 60px;
    }
}